.header {
  display: flex;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  .navbar {
    flex: 0 0 6rem;
  }

  .heading-box {
    align-self: flex-end;
    padding: 3rem 2rem 4rem;
    margin-left: auto;
  }

  .mosaic-box {
    padding: 5rem 6rem;
  }

  @media only screen and (max-width: $bp-large) {
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-template-rows: 75vh 1fr;

    .navbar {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }

    .heading-box {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      margin-left: 0;
    }

    .mosaic-box {
      margin-left: 0;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding: 2rem;
    }
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 55vh 1fr;

    .heading-box {
      padding: 2rem 2rem 8rem;
    }

    .mosaic-box {
      padding: 1rem;
    }
  }
}